---
http_interactions:
- request:
    method: get
    uri: https://api.paymongo.com/v1/payment_methods/pm_HzKNebHUub3yT4JTadLDY1Hy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF8yekYxOFFDNmFlelNrc1BTRWV4eFl1Zk46
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3223b6d5807f274d881d4e5897becd2b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"pm_HzKNebHUub3yT4JTadLDY1Hy","type":"payment_method","attributes":{"livemode":false,"type":"card","billing":{"address":{"city":"Quezon
        City","country":"PH","line1":"Blk1 Lot2 Maginhawa St.","line2":"Brgy. Iniwan","postal_code":"1117","state":"NCR"},"email":"makisu@gmail.com","name":"Makisu","phone":"4196396"},"created_at":1622770126,"updated_at":1622770126,"details":{"exp_month":12,"exp_year":2050,"last4":"4345"},"metadata":{"note1":"This
        is just a test","note2":"I love XRP"}}}}'
  recorded_at: Fri, 04 Jun 2021 02:50:50 GMT
recorded_with: VCR 5.0.0
